<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Error {{.Code}} | Groupie-Tracker</title>
    <link rel="stylesheet" href="/assets/artists.css">
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
    <a href="/" class="home">HOME</a>
    <br><br>
    <div class="cover">
        <h1>{{.Code}} {{.Name}}</h1>
        <p class="lead">{{.Content}}</p>
    </div>
    <br><br>
</body>
</html>

